@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;


.hero-process-container{
    @include m.tablet{
       @include m.flexcenter;
       flex-basis: 100%;
       
    }
    @include m.desktop{
        display: flex;
        flex-basis: 100%;
        flex-flow:column wrap;
        align-items: center;
        justify-content: center;
     }
}

.footer__container{
    @include m.tablet{
       flex-basis: 100%;
        gap: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   gap: 50px;
   padding: 25px;
  
}
.menu__container{
background-color:lighten(v.$neutral-grey, 10%);
@include m.tablet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}


