.loading-spinner{
    display: grid;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    z-index: 2;
    opacity:0.85;
    -webkit-animation: fadeout 300ms 3s forwards;
            animation: fadeout 300ms 3s forwards;
    transform-origin: top;
    display: none;

    &::after{
        $primary-color:#9356DC ;
        $secondary-color:#FF79DA ;
        $tertiary-color:#99E2D0;
        content: "";
        width: 100px;
        height:100px;
        border: 15px solid $secondary-color;
        border-left-color:$primary-color;
        border-right-color:$tertiary-color;
        border-radius: 50%;
        -webkit-animation: spinning 1s ease-in-out infinite;
                animation: spinning 1s ease-in-out infinite;
        -webkit-animation-iteration-count: 3;
                animation-iteration-count: 3;
    }
    //change the style after.
}



@-webkit-keyframes fadeout {
    from{ transform: scale(1);}
    to{transform: scale(0);}
    
}



@keyframes fadeout {
    from{ transform: scale(1);}
    to{transform: scale(0);}
    
}
@-webkit-keyframes spinning {
    from{rotate: (0turn);}
    to{ rotate:(1turn)}
 }
@keyframes spinning {
    from{rotate: (0turn);}
    to{ rotate:(1turn)}
 }
 