@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Shrikhand&display=swap");
p,
h1,
h2 {
  margin-top: 0;
}

h2 {
  font-weight: bold;
}

.menu__card-header--name p,
.footer__title p {
  font-family: "Shrikhand", cursive;
}

.footer__title {
  font-size: 19px;
}

.hero__text h1 {
  font-weight: 900;
  font-size: 2em;
}
.hero__text p {
  font-weight: 300;
  font-size: 1em;
  margin-top: -14px;
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}

::-moz-placeholder {
  font-weight: bold;
  color: black;
}

:-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

::-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

::placeholder {
  font-weight: bold;
}

::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}

::-moz-placeholder {
  font-weight: bold;
  color: black;
}

:-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

::-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.loading-spinner {
  -webkit-animation: fadeout 300ms 3s forwards;
  animation: fadeout 300ms 2s forwards;
  transform-origin: top;
  display: none;
}
@-webkit-keyframes fadeout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes fadeout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.loading-spinner::after {
  -webkit-animation: spinning 1s ease-in-out infinite;
  animation: spinning 1s ease-in-out infinite;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
@-webkit-keyframes spinning {
  from {
    rotate: 0turn;
  }
  to {
    rotate: 1turn;
  }
}
@keyframes spinning {
  from {
    rotate: 0turn;
  }
  to {
    rotate: 1turn;
  }
}

.menu__card-main1 {
  -webkit-animation: slide-in 2s ease-in-out forwards;
  animation: slide-in 2s ease-in-out forwards;
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.menu__card-main2 {
  -webkit-animation: slide-in2 2s ease-in-out forwards;
  animation: slide-in2 2s ease-in-out forwards;
}
@-webkit-keyframes slide-in2 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0, 5;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slide-in2 {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.menu__card-main3 {
  -webkit-animation: slide-in3 3s ease-in-out forwards;
  animation: slide-in3 3s ease-in-out forwards;
}
@-webkit-keyframes slide-in3 {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slide-in3 {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.restaurant__cards__card__link--body--heart .fa-solid::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  right: 1%;
  background-color: white;
  border-radius: 45%;
  position: absolute;
  -webkit-animation: spin 3s ease-out;
  animation: spin 3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin {
  0% {
    transform: translateY(-80%) rotate(0deg);
  }
  100% {
    transform: translateY(-180%) rotate(0deg);
  }
}
@keyframes spin {
  0% {
    transform: translateY(-80%) rotate(0deg);
  }
  100% {
    transform: translateY(-180%) rotate(560deg);
  }
}

.menu__card-header--heart .fa-solid::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  right: 1%;
  top: 50%;
  border-radius: 65%;
  position: absolute;
  -webkit-animation: spin 3s ease-out;
  animation: spin 3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin {
  0% {
    transform: translateY(-80%) rotate(0deg);
  }
  100% {
    transform: translateY(-180%) rotate(0deg);
  }
}
@keyframes spin {
  0% {
    transform: translateY(-80%) rotate(0deg);
  }
  100% {
    transform: translateY(-180%) rotate(560deg);
  }
}

.menu__card-main1--items--dish--add {
  transform: translateX(200%);
  transition: transform 0.5s ease-out;
  background-color: #99E2D0;
  width: 60px;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0 16px 16px 0;
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu__card-main1--items--dish--add .fa-regular {
  transition: transform 0.6s linear;
  transform: rotate(4deg);
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu__card-main1--items--dish:hover {
  box-shadow: 0px 10px 13px -7px #8e8f8f;
}

.process__steps__step:hover {
  box-shadow: 0px 10px 13px -7px #8e8f8f;
}
.process__steps__step:hover .process__steps__step__icon > * {
  color: #9356DC;
}

footer {
  background-color: #363636;
  color: #FDFEFE;
  padding: 2px;
}
@media (min-width: 993px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer .footer__links__item > * {
  line-height: 10px;
  color: #FDFEFE;
}
footer .footer__links__item__text {
  position: relative;
  margin-left: 30px;
}
@media (min-width: 993px) {
  footer .footer__links__item__text--no-icon {
    margin-left: 30px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__logo {
  padding: 20px 0 10px 0;
}

.location-bar {
  height: 60px;
  min-width: 100%;
  position: relative;
  position: relative;
}
.location-bar input {
  display: inline-block;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #eff0f0;
  box-shadow: 0px 2px 2px 0px #C1C2C2 inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.location-bar label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 150px;
}

.restaurant {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin-top: 30px;
  padding: 20px;
}
@media (min-width: 993px) {
  .restaurant {
    flex-basis: 100%;
    padding: 10px;
  }
}
.restaurant__title {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .restaurant__title {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
}
.restaurant__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 993px) {
  .restaurant__cards {
    display: flex;
    flex-flow: columnwrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .restaurant__cards {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
}

.hero {
  text-align: center;
  background-color: #f7f7f7;
  padding: 40px;
}
@media (min-width: 993px) {
  .hero {
    font-size: smaller;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 50%;
    height: 100%;
    font-size: small;
    margin-bottom: -50px;
    background-color: white;
  }
}
@media (min-width: 993px) {
  .hero {
    width: 100%;
    height: 100%;
    font-size: small;
    margin-bottom: -50px;
    background-color: white;
  }
}
.hero__btn button {
  font-weight: 500;
  color: #FDFEFE;
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(#9356DC, #FF79DA);
  height: 50px;
  width: 220px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 40px;
  box-shadow: 0px 3px 10px -2px #C1C2C2;
}
.hero__btn button:hover {
  background-image: linear-gradient(0deg, #a36fe1, #ff98e2);
}

.process {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
}
@media (min-width: 993px) {
  .process {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .process {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}
.process__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  gap: 30px;
}
@media (min-width: 993px) {
  .process__steps {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .process__steps {
    margin-bottom: 10px;
    margin: 0;
    height: 100%;
  }
}
.process__steps__step {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 3px 10px -2px #C1C2C2;
  position: relative;
}
@media (min-width: 993px) {
  .process__steps__step {
    height: 50px;
    width: 600px;
    font-size: medium;
  }
}
@media screen and (min-width: 768px) {
  .process__steps__step {
    width: 250px;
    height: 50px;
    font-size: small;
    text-align: center;
  }
}
.process__steps__step:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.process__steps p {
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-right: 40px;
  width: 100%;
  margin-bottom: 0;
}
@media (min-width: 993px) {
  .process__steps p {
    font-size: smaller;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .process__steps p {
    font-size: smaller;
  }
}
.loading-spinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: grid;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 2;
  opacity: 0.85;
}
.loading-spinner::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #FF79DA;
  border-left-color: #9356DC;
  border-right-color: #99E2D0;
  border-radius: 50%;
}

.order__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.order__btn > * {
  font-weight: 500;
  color: #FDFEFE;
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(#9356DC, #FF79DA);
  height: 50px;
  width: 220px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 40px;
  box-shadow: 0px 3px 10px -2px #C1C2C2;
}
.order__btn > *:hover {
  background-image: linear-gradient(0deg, #a36fe1, #ff98e2);
}

.restaurant__cards__card__link--body--heart {
  width: 40px;
  font-size: 30px;
  position: relative;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.restaurant__cards__card__link--body--heart:hover > .fa-regular {
  opacity: 0;
  transition: 0.1s;
}
.restaurant__cards__card__link--body--heart:hover > .fa-solid {
  display: inline-block;
}

.menu__card-header--heart {
  width: 40px;
  font-size: 30px;
  position: relative;
  height: 50px;
  width: 50px;
  font-size: 30px;
  margin-bottom: 32px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu__card-header--heart:hover > .fa-regular {
  opacity: 0;
  transition: 0.1s;
}
.menu__card-header--heart:hover > .fa-solid {
  display: inline-block;
}

.header__preview--btn .fa-solid {
  margin-left: -80px;
  font-size: 20px;
  color: #363636;
}

.process__steps__step__icon {
  text-align: center;
  width: 100px;
}
.process__steps__step__icon .fa-solid {
  width: 10%;
  padding-left: 40px;
  height: 5px;
  color: #C1C2C2;
  font-size: 19px;
}

.process__steps__step__number {
  background-color: #9356DC;
  color: #FDFEFE;
  font-size: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: -10px;
}

.restaurant__cards__card__link--body--heart .fa-solid {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  display: none;
  transform-origin: center;
}
.restaurant__cards__card__link--body--heart .fa-regular {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.menu__card-header--heart .fa-solid {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  display: none;
  transform-origin: center;
}

.fa-regular {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.footer__links__item .fa-solid {
  position: absolute;
  color: #FDFEFE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.restaurant__cards__card {
  background-color: #FDFEFE;
  height: auto;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 10px -2px #C1C2C2;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant__cards__card {
    width: 300px;
    max-width: 100%;
    margin: 5px;
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
  @-webkit-keyframes puff-in-center {
    0% {
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}
@media (min-width: 993px) {
  .restaurant__cards__card {
    width: 400px;
    max-width: 100%;
  }
}
.restaurant__cards__card__link {
  height: auto;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
@media (min-width: 993px) {
  .restaurant__cards__card__link {
    width: 450px;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .restaurant__cards__card__link {
    min-width: 100%;
  }
}
.restaurant__cards__card__link--image {
  width: auto;
  height: 200px;
  max-width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurant__cards__card__link {
    min-width: 100%;
  }
}
@media (min-width: 993px) {
  .restaurant__cards__card__link {
    width: 450px;
    max-width: 100%;
  }
}
.restaurant__cards__card__link--body {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  line-height: 6px;
}
.restaurant__cards__card__link--text {
  margin-bottom: 10px;
}

.new-badge {
  position: relative;
}
.new-badge::before {
  content: "Nouveau";
  width: 100px;
  height: 40px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
}

.menu__card {
  overflow: hidden;
  text-align: left;
  border-radius: 60px 60px 0 0;
  background-color: #f7f7f7;
  margin-top: -45px;
  position: relative;
  width: 100%;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .menu__card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height: 500px;
    padding: 10px;
  }
}
.menu__card-header {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .menu__card-header {
    font-size: 10px;
    padding-top: 5px;
    width: 100%;
    margin: 10px auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.menu__card-header--name {
  font-size: 2em;
}
.menu__card-main1, .menu__card-main2, .menu__card-main3 {
  padding: 10px;
  width: auto;
}
@media screen and (min-width: 768px) {
  .menu__card-main1, .menu__card-main2, .menu__card-main3 {
    width: 100%;
    margin-top: 100px;
  }
}
.menu__card-main1--title, .menu__card-main2--title, .menu__card-main3--title {
  text-transform: uppercase;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 20px;
}
.menu__card-main1--items, .menu__card-main2--items, .menu__card-main3--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.menu__card-main1--items--dish, .menu__card-main2--items--dish, .menu__card-main3--items--dish {
  background-color: #FDFEFE;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 10px -2px #C1C2C2;
  width: 100%;
}
.menu__card-main1--items--dish:hover > .menu__card-main1--items--dish--name, .menu__card-main2--items--dish:hover > .menu__card-main1--items--dish--name, .menu__card-main3--items--dish:hover > .menu__card-main1--items--dish--name {
  width: 55%;
}
.menu__card-main1--items--dish:hover > .menu__card-main1--items--dish--price, .menu__card-main2--items--dish:hover > .menu__card-main1--items--dish--price, .menu__card-main3--items--dish:hover > .menu__card-main1--items--dish--price {
  width: 40%;
}
.menu__card-main1--items--dish:hover > .menu__card-main1--items--dish--add, .menu__card-main2--items--dish:hover > .menu__card-main1--items--dish--add, .menu__card-main3--items--dish:hover > .menu__card-main1--items--dish--add {
  width: 80px;
  transform: translate(9%);
}
.menu__card-main1--items--dish:hover > .menu__card-main1--items--dish--add > .fa-regular, .menu__card-main2--items--dish:hover > .menu__card-main1--items--dish--add > .fa-regular, .menu__card-main3--items--dish:hover > .menu__card-main1--items--dish--add > .fa-regular {
  transform: rotate(2turn);
}
.menu__card-main1--items--dish--name, .menu__card-main2--items--dish--name, .menu__card-main3--items--dish--name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  margin: 15px 0 15px 15px;
  line-height: 25px;
}
.menu__card-main1--items--dish--price, .menu__card-main2--items--dish--price, .menu__card-main3--items--dish--price {
  margin-bottom: -30px;
  margin-right: -40px;
}

.menu__image {
  background-position: center;
  background-size: cover;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .hero-process-container {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    align-items: center;
  }
}
@media (min-width: 993px) {
  .hero-process-container {
    display: flex;
    flex-basis: 100%;
    flex-flow: columnwrap;
    align-items: center;
    justify-content: center;
  }
}

.footer__container {
  gap: 50px;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-basis: 100%;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu__container {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .container1 {
    background-size: cover;
    background-image: url(/images/restaurants/1.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
    background-image: url(/images/restaurants/2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    background-image: url(/images/restaurants/3.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-image: url(/images/restaurants/4.jpg);
  }
}/*# sourceMappingURL=style.css.map */