
footer{
 background-color: rgba(22, 21, 21, 0.788);
 color: white;
 margin-top: 0 auto;
 padding: 3%;
    .footer__links{
       line-height: 10px;
            &__item>*{
                 color: white;
       }
                &__item__icon{
                position: absolute;
        
       }
                &__item__text{
                position: relative;
                margin-left: 25px;
        }
     
    }

}
   


