.process{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border:2px solid;
    @media (min-width:768px) {
        width:50%;
        height:100%;
       margin: 0;
        
      }
    &__steps{
        padding: 2px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        @media (min-width:768px) {
           gap:10px;
            
          }
        
            &__step{
                $primary-home-color:#F2F2F2;
                padding:20px;
                height: 60px;
                width: 100%;
                background-color:lighten($primary-home-color,2%);
                border-radius: 14px; /*mixin*/
                display:inline-block;
                display: flex;
                gap: 10px;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
                position: relative;
                box-shadow: 5px 4px 16px -4px darken($primary-home-color,20%);
                @media (min-width:768px) {
                   height:30px;
                   width:80%;
                     
                   }

                &:hover{
                    $primary-home-color:#F2F2F2;
                    $primary-color:#9356DC;
                    background-color: lighten($primary-color,35%);
                    box-shadow: 5px 5px 16px -4px darken($primary-home-color,30%) ;
                    .process__steps__step__icon{
                        color: $primary-color;
                    }

                }


                    &__number{
                        $primary-color:#9356DC;
                       display: block;
                       height: 20px;
                       width: 20px;
                       font-size: 13px;
                       border-radius: 50%;
                       position: absolute;
                       background-color:$primary-color;
                       color: white;
                       outline: none;
                       border: none;
                       margin-left: -100%;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                    }
                        &__icon{
                            position: absolute;
                            margin-left: -80%;
                            $body-color:#F2F2F2;
                            $home-page-btn-color:darken($body-color,30%);
                            color: $home-page-btn-color;

                        }
                            &__name{
                    
                                font-weight: bold;
                            }

               }
            }

    }
    

    
