@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
.restaurant__cards__card{
  background-color:map-get(c.$backgrounds, home-card-bckgrnd);
  height: auto;
  @include m.basic-width;
  border-radius:v.$s-border-radius;
  overflow: hidden;
  box-shadow: v.$shadow-out;
  margin-bottom: 20px;
  @include m.tablet{
    width: 300px;
    max-width: 100%;
    margin:5px;
    @include m.entertablet
    }
    
    @include m.desktop{ 
        width: 400px;
        max-width: 100%;
        
    }  

  &__link{  
    height: auto;
    width:100%;
    border-radius:v.$s-border-radius;
    overflow: hidden;
       
    @include m.desktop{ 
        width: 450px;
        max-width: 100%;
        
    }  
    @include m.tablet{
        min-width:100%;
    }
        
    
    &--image{
        width: auto;
        height:200px;
        max-width: 100%;
        position: relative;
    }
    @include m.tablet{
        min-width:100%;
        }
        
       
    @include m.desktop{ 
        width: 450px;
        max-width: 100%;
        
    }  

    &--body{
        width: 100%;
        height: 80px;
        @include m.flexbetween;
        padding:v.$l-padding;
        line-height:v.$s-lineheight;
    }

    &--text{
        margin-bottom:v.$xs-margin;
    }
    
}

}

.new-badge{
  position:relative;
  &::before{
     content:"Nouveau";
     $tertiary-color:#99E2D0;
     width: 100px;
     height: 40px;
     background-color:$tertiary-color;
     color: darken($tertiary-color,40%);
     position:absolute;
     z-index: 1;
    @include m.flexcenter;
    top:1rem;
    right: 1rem;
    font-weight: bold;}
}

  
.menu__card{
 overflow: hidden;
  text-align: left;
  border-radius: 60px 60px 0 0;
  background-color: lighten(v.$neutral-grey, 10%);
  margin-top: -45px;
  position: relative;
  //tablet 
  @include m.tablet{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height: 500px;
    padding: 10px;
    width: 100%
  }
  
  @include m.basic-width;
  padding: 10px;
  //menu header 
  &-header{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    
    //tablet 
  @include m.tablet{
    font-size: 30px;
    padding-top: 5px;
    width:100%;
    position: absolute;
    @include m.flexbetween;
    padding:0 50px 0 50px;
  
  }


    @include m.flexbetween;
    &--name{
        font-size: 25px;
    }

  }

  //main cards
  &-main1,
  &-main2,
  &-main3{
    padding:10px;
    width: auto;
    @include m.tablet{
        width: 100%;
       margin-top: 100px;
       padding: 5px
    }

    //titles
    &--title{
        text-transform: uppercase;
        width:v.$l-width;
        border-bottom:3px solid v.$tertiary-clr;
        margin-bottom: v.$m-margin;

      }

    &--items{
        @include m.columncenter;
        @include m.basic-width;
        gap:15px;
        &--dish{
            background-color:v.$neutral-white;
            cursor: pointer;
            position:relative;
            @include m.flexbetween;
            @include m.basic-width;
            height:v.$l-height;
            border-radius: v.$s-border-radius;
            overflow: hidden;
            box-shadow: v.$shadow-out;
            width: 100%;
            @include m.tablet{
              height: 60px;
              width: 90%;
            }


           //hover effects
            &:hover{
                    & >.menu__card-main1--items--dish--add{
                        width: 100px;
                        //negative translation for full show
                        transform: translatex(-10%);
                        transition: all 0.8s;
                        &>.fa-regular{
                        transform: rotate(2turn);
                        }
                     }
        
    
            }
            //name
            &--name{
                width: 100%;
                text-overflow: ellipsis;
                white-space:nowrap;
                display: inline-block;
                overflow: hidden;
                margin: 15px 0 15px 15px;
                line-height: 25px;


            }
            &--price{
                margin-bottom: -30px;
                margin-left:auto;
                align-items: flex-end;
                display: flex;
                margin-right: 5px;
            }
        

        }

    }
  }
  

} 

  

    








  
