//MENU ANIMATION
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
//spinner
.loading-spinner{
    @include m.fade-out;
    &::after{
      @include m.rotate;
        
    }
}
 //menu cards
.menu__card-main1{
    @include m.slide-in;
}

.menu__card-main2{  
    @include m.slide-in2;
} 

.menu__card-main3{
    @include m.slide-in3; 
}

//heart
.restaurant__cards__card__link--body--heart{
    .fa-solid{
        &::after{
            content:"";
            width:100%;
            height:100%;
            top: 50%;
            right: 1%;
            background-color:white;
            border-radius: 45%;
            position:absolute;
                   @include m.filling;
        }
    }
}

.menu__card-header--heart{
    .fa-solid{
        &::after{
            content:"";
            width:100%;
            height:100%;
            background-color:lighten(v.$neutral-grey, 10%);
            right:1%;
            top: 50%;
            border-radius: 65%;
            position:absolute;
                   @include m.filling;
        }
    }
}
//adding-to-cart animation
.menu__card-main1--items--dish--add{
    @include m.checkanimation;
    @include m.translating-box;
}

//HOVERS
//menu items'hover
.menu__card-main1--items--dish{
    &:hover{ 
    box-shadow:v.$hover-shadow;
    }

}

//steps items'hover
.process__steps__step{
    &:hover{
        box-shadow:v.$hover-shadow;
        .process__steps__step__icon>*{
            color: v.$primary-clr;
        }
    }
}


