html{
    font-size: 100%;
    box-sizing: border-box;
}
/***************************/
*,
*::before,
*::after{
    box-sizing:inherit;
}

body{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

a{
    text-decoration: none;
  
}
main{
    height: 100vh;
    margin: 0 auto;
}