@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Shrikhand&display=swap');
$body-font: 'Roboto', sans-serif;
$title-font:'Shrikhand', cursive;
$fonts:(
    "body":$body-font,
    "titles":$title-font,
);


p,
h1,
h2{
 margin-top: 0;
}

h2{
 font-weight: bold;
}

//title's p style
.menu__card-header--name p,
.footer__title p{
    font-family: map-get($fonts, titles)
}
.footer__title{
    font-size: 19px;
}
.hero__text{
    h1{
       font-weight:900;
       font-size: 2em;
    }
    p{
        font-weight: 300;
        font-size: 1em;
        margin-top: -14px;
    }
}

//input's style

::-webkit-input-placeholder{
    font-weight: bold;
    color: black;
}

::-moz-placeholder{
    font-weight: bold;
    color: black;
}

:-ms-input-placeholder{
    font-weight: bold;
    color: black;
}

::-ms-input-placeholder{
    font-weight: bold;
    color: black;
}

::placeholder{
    font-weight: bold;
}


::-webkit-input-placeholder{
    font-weight: bold;
    color: black;
}

::-moz-placeholder{
    font-weight: bold;
    color: black;
}

:-ms-input-placeholder{
    font-weight: bold;
    color: black;
}

::-ms-input-placeholder{
    font-weight: bold;
    color: black;
}
//link's style
a,
a:visited,
a:active{
    text-decoration: none;
    color: black;
}
