@use "../abstracts/variables" as v;
@use "../abstracts/colors" as c;

//GENERAL MIXINS

@mixin basic-width{
    width: 100%;
    min-width: 100%;
}
@mixin basic-height{
    height: 100%;
    min-height: 100%;
}


@mixin flexcenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin flexaround{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
@mixin columncenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
// 
@mixin block-center{
    display: inline-block;
    text-align: center;
}
//
@mixin gradient {
    background-image: linear-gradient( map-get(c.$colors, primary),map-get(c.$colors, secondary))
}
//
@mixin text-style{
    font-weight: bold;
    color:map-get(c.$colors, text-elements)
}
//
@mixin absolute-element{
    position: absolute;
    width: 100%;
    height:100%;
    outline: none;
}

@mixin absolute-click{
   border: none;
   outline:none;
   cursor:pointer;
}
//

//LAYOUT MIXINS
@mixin header-logo {
    @include flexcenter;
    &__logo{
        padding: v.$l-padding 0 v.$l-padding 0 ;
    }
}

@mixin footer{
    background-color: map-get(c.$colors,footer-backgrnd);
    color:map-get(c.$colors,text-elements);
    padding: v.$s-padding;
    
    .footer__links{
        &__item>*{
            color:map-get(c.$colors,text-elements); 
            line-height: v.$m-lineheight; 
        }
        &__item__icon{
            position: absolute;
        }
        &__item__text{
            position:relative;
            margin-left: v.$l-margin;
        }
        
    }
}

@mixin process{
    @include basic-width;
    margin-top: v.$l-margin;
    padding:v.$l-padding;
    
    &__steps{
        @include basic-width;
         @include columncenter;
        padding:v.$s-padding;
        gap: v.$l-gap;
            &__step{
            position: relative;
            @include step;
            display: inline-block;
            &__number{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: map-get(c.$colors , primary );
                color:  map-get(c.$colors , text-elements);
                font-size:v.$s-font-size;
                border-radius:v.$round-radius;
                width:v.$m-width;
                height:v.$m-height;
                margin-left: -25px
            }
            &__icon{
                @include small-icon;
                text-align: center;
                width: 100px;
                margin: 0 auto;
                
            }
            &__name{
                font-weight: bold;
                text-align: center;
            }

            &:hover{
                background-color: lighten(map-get(c.$colors , primary ),35%);
                .process__steps__step__icon{color:map-get(c.$colors, primary); 
                }
            }
        }
    }
    
  
}


//ELEMENT MIXINS

@mixin hero{
     text-align: center;
     background-color:lighten(map-get(c.$colors, home-medium ), $amount:10%) ;
     padding: v.$xl-padding;
}

@mixin element-style{
    @include text-style;
    @include block-center;
    @include gradient;
       padding:v.$l-padding;
       outline: none;
       border: none;
       border-radius: v.$xl-border-radius;
       cursor: pointer;
       box-shadow: v.$shadow-out;
    //ADD HOVER
}
//
@mixin location{
    height: 70px;
    min-width: 100%;
    position: relative;
    //MIXIN input and button
    position: relative;
        input{
            width: 100%;
            height:70px;
            @include block-center;
            outline: none;
            border: none;
            background-color: map-get(c.$colors, home-medium );
            box-shadow: v.$shadow-in;
        }
        label{
            display: block;
            position: absolute;
            @include flexcenter;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding-right: 150px;
            
        }
    }
    
    @mixin step{
        @include basic-width;
        padding:v.$l-padding;
        height:v.$l-height;
        border-radius:v.$s-border-radius;
        background-color:lighten(map-get(c.$colors ,home-medium), 10%) ;
        box-shadow: v.$shadow-out;
    
    }
    
    @mixin small-icon{
        position: absolute;
        color:map-get(c.$colors, home-medium);
        @include flexcenter;
    }
    
    
    
