//theme colors
$primary-clr:#9356DC;
$secondary-clr:#FF79DA;
$tertiary-clr: #99E2D0;
$neutral-grey: #DDDEDE;
$neutral-dark-grey:#C1C2C2;
$neutral-white:#FDFEFE;
$neutral-black:#200E12;

//spacing
$base-margin:20px;
$base-padding:10px;

//padding
$s-padding:3px;
$m-padding:10px;
$l-padding:20px;
$xl-padding:40px;

//margin
$s-margin:15px;
$m-margin:25px;
$l-margin:30px;


//line-heights
$s-lineheight:5px;
$m-lineheight:10px;

//borders
$s-border-radius:16px;
$xl-border-radius:40px;
//positions


//box-shadow
$shadow-out: -2px 1px 25px -2px $neutral-dark-grey;
$shadow-in: 0px 2px 2px 0px  $neutral-dark-grey inset;
$hover-shadow:darken($neutral-dark-grey, 5%);

//font-sizes
    