//images path

$images-menu:(
    3:"../images/restaurants/A_la_française.jpg",
    2:"../images/restaurants/La_note_enchantée.jpg",
    1:"../images/restaurants/La_palette_du_goût.jpg",
    4:"../images/restaurants/Le_délice_des_sens.jpg",
);

//breakpoints map
$breakpoints:(
    "xs":320px,
    "sm":767px,
    "md":768px,
    "lg":900px,
);
     
//theme colors
$primary-clr:#9356DC;
$secondary-clr:#FF79DA;
$tertiary-clr: #99E2D0;
$neutral-grey: #DDDEDE;
$neutral-dark-grey:#C1C2C2;
$neutral-white:#FDFEFE;
$neutral-black:#363636;
//spacing
$base-margin:20px;
$base-padding:10px;

//padding
$s-padding:2px;
$m-padding:10px;
$l-padding:20px;
$xl-padding:40px;

//margin
$xs-margin:10px;
$s-margin:15px;
$m-margin:20px;
$l-margin:30px;

//line-heights
$s-lineheight:6px;
$m-lineheight:10px;

//gap
$s-gap:10px;
$m-gap:20px;
$l-gap:30px;

//border-radius
$s-border-radius:16px;
$xl-border-radius:40px;
$round-radius:50%;

//height
$s-height:15px;
$m-height:20px;
$l-height:70px;

//width
$s-width:15px;
$m-width:20px;
$l-width:40px;


//font-size
$s-font-size:15px;
$m-font-size:20px;
$l-font-size:30px;

//box-shadow
$shadow-out: -0px 3px 10px -2px $neutral-dark-grey;
$shadow-in: 0px 2px 2px 0px  $neutral-dark-grey inset;
$hover-shadow:0px 10px 13px -7px darken($neutral-dark-grey, 20%);
//font-sizes
    